.hader
{
	position: relative;
}

/* Shutter Out Horizontal */
.navbar-default .navbar-nav > li > a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-bottom: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    border-bottom: 2px solid #000 ;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: #000;
  transition: ease 0.5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
  color: #000;
    transition: ease 0.5s;
}
.navbar-default .navbar-nav > li > a:hover:before, .navbar-default .navbar-nav > li > a:focus:before, .navbar-default .navbar-nav > li > a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
    transition: ease 0.5s;
}
.video-part
{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 500px;
}
.video-part video
{
	margin-top: -15%;
	width: 100%;


}
.video-part-content
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding-top: 8%;
	background:rgba(87, 117, 189, 0.5) ;
}

.video-part-content .carousel-caption
{
	position: relative !important;
	left: 0%;
	right: 0%;
}
.video-part-content .carousel-indicators
{
	top: 316px;
}
.hader .nav.navbar-nav.pull-right
{
	margin-top: 2%;
}
.video-part-content .carousel-caption h1
{
font-size: 50px;
}
.video-part-content .carousel-caption p
{
font-size: 20px;
}
.affix
{
	width: 100%;
	transition: ease 0.5s;
	background: #fff !important;
  border-bottom: 2px solid #5775bd !important;
}
.navbar-default.affix .navbar-nav > li > a {
  color: #333;
}
.btn-info
{
	background: #5674bc;
	border: 1px solid #5674bc;
	border-radius: 0px;
		transition: ease 0.5s;
}
.btn-info
{
	color: #5674bc;
	transition: ease 0.5s;
}
.full-width
{
	width: 100%;
	float: left;
}